@using Razor04.Models
@model Product
<div class="card">
	<h2 class="card-header text-primary">@Model.Name</h2>
	<div class="card-body">
		<p class="card-text">@Model.Description</p>
		<p>Price: @Model.Price$</p>
		<a asp-page="/Order" class="btn btn-secondary btn-sm">Order now</a>
	</div>
</div>
