@page "/trang-dau-tien/"
@model FirstPageModel
<h1 style="color: red">This is 1st razor page</h1>
<p>Hello ASP.net RAZOR<strong>@System.DateTime.Now</strong></p>
@{
	var a = 2;
	int b = 3;

	int loop = 5;

	<p>The square root of @a is @Math.Sqrt(a)</p>
}
<p>The sum of @a and @b is @(a + b)</p>
<ol>
@for(int i = 1; i <= loop; i++)
{
	<li>List of @i</li>
}
</ol>   