@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1>Welcome to Spring Back's Timetable managing system</h1>
    <div class="mb-3">
        <label for="formFile" class="form-label">Upload file excel below to create your new timetable</label>
        <input class="form-control" type="file" id="formFile">
    </div>
</div>

