@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Arrange timetable";
}
@using Microsoft.AspNetCore.Identity
@using Test.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<div class="container">
	<ul class="list-inline">
		@foreach (var subject in ViewBag.Subjects)
			{
				<li class="list-inline-item">
				<button class="mt-2 btn btn-primary" onclick="showClasses('@subject.SubjectId')">@subject.SubjectId: @subject.SubjectName</button>
				</li>
			}
	</ul>
</div>
<div class="container">
	<div class="table-responsive">
		<table class="table table-bordered text-center" id="myTable">
			<tr class="bg-light-gray">
				<td class="text-uppercase">time</td>
				<td class="text-uppercase">monday</td>
				<td class="text-uppercase">tuesday</td>
				<td class="text-uppercase">wednesday</td>
				<td class="text-uppercase">thursday</td>
				<td class="text-uppercase">friday</td>
				<td class="text-uppercase">saturday</td>
			</tr>
			<tr>
				<td class="align-middle">0645</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="align-middle">0730</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="align-middle">0815</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="align-middle">0825</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="align-middle">0920</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="align-middle">1005</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="align-middle">1015</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="align-middle">1100</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="align-middle">1145</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="align-middle">1230</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="align-middle">1315</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="align-middle">1400</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="align-middle">1410</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="align-middle">1455</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="align-middle">1505</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="align-middle">1550</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="align-middle">1600</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="align-middle">1645</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="align-middle">1705</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="align-middle">1730</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
	</div>
</div>
@if (SignInManager.IsSignedIn(User))
{
	<div class="btn btn-success" onclick="saveTimetable()">Save</div>
}
<script src="~/js/site.js" asp-append-version="true"></script>











